// Colors
@white: #ffffff;
@black: #000000;
@blue: #63d1bb;
@dark-gray: #444444;
@light-gray: #f1f1f1;
@border-gray: #ececec;


// Sizes
@tablet-width: "(min-width: 700px)";
@desktop-width: "(min-width: 1200px)";

@wrapper-width: 81.25%; // 260px/320px


// Fonts
@font-regular: "Open Sans", "Helvetica", "Arial", sans-serif;
@font-bold: "Open Sans Bold", "Helvetica", "Arial", sans-serif;
