.about-company {
  background-color: @white;

  &__wrapper {
    width: @wrapper-width;
    .center-block();
  }

  &__title {
    margin-bottom: 20px;
    .bold-text(25px, 30px);
  }

  &__advantages-item b {
    .bold-text(17px, 20px);
  }
}
