.catalog__title {
  width: 100%;
  background-color: @light-gray;
  text-align: center;
}

.catalog__title-wrapper {
  .container();
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__wrapper {
  .container();
  padding-top: 30px;
}

.catalog__wrapper-goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid @border-gray;

  &--manufacturing {
    width: 100%;
    flex-wrap: nowrap;
  }
}

.catalog__item-text {
  margin: 20px 30px 25px 30px;
  text-align: left;
}

.catalog__item-info {
  border-bottom: 1px solid @border-gray;
}

.catalog__item-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: left;

  &--manufacturing {
    margin: 20px 30px;
  }
}

.catalog__item-description {
  margin-bottom: 18px;
  font-size: 13px;
  color: @dark-gray;
}

.catalog__item-buy {
  padding-top: 15px;
}

.catalog__item-price {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.catalog__order-btn {
  width: 190px;
  margin-bottom: 30px;
}

@media @tablet-width {
  .catalog__wrapper {
    padding-top: 80px;
  }

  .catalog__item {
    flex-wrap: nowrap;
    width: 100%;
  }
}

@media @desktop-width {
  .catalog__wrapper {
    padding-top: 130px;
  }

  .catalog__wrapper-goods {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-wrap: wrap;
    width: 313px;
    justify-content: center;

    &--manufacturing {
      width: 100%;
    }
  }
}
