.contacts__wrapper {
  .container();
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media @desktop-width {
    box-sizing: border-box;
    flex-wrap: nowrap;
    padding-left: 175px;
  }
}

.contacts__title {
  margin-bottom: 25px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.contacts__table {
  border-collapse: collapse;
}

.contacts__item {
  color: @dark-gray;

  &:first-child {
    min-width: 70px;
  }
}

.contacts__item td {
  vertical-align: top;
  padding-bottom: 20px;
  font-size: 15px;
}

.contacts__email {
  color: @dark-gray;
  border-bottom: 1px solid @blue-mail;

  &:hover {
    color: @blue-mail;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__btn {
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  &--desktop {
    display: none;
  }

  @media @desktop-width {
    display: none;

    &--desktop {
      display: block;
    }
  }
}
