.map {
  width: 100%;
  height: 457px;
  margin: 0;
  padding: 0;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  overflow: hidden;

  @media @desktop-width {
    width: 525px;
  }
}
