.modal {
  display: none;
  z-index: 20;
  padding: 30px;
  text-align: center;
  .regular-text(15px, 30px);
  color: @black;
  background: @white;
  outline: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    .bold-text(25px, 30px);
  }

  &__btn {
    box-sizing: border-box;
    .center-block();
    margin-bottom: 15px;
    padding: 16px 75px;
    border: none;
    color: @white;
    background-color: @blue;
  }

  &-show {
    display: block;
  }
}
