.reviews__wrapper {
  width: @wrapper-width;
  .center-block();
}

.reviews__title {
  .bold-text(25px, 30px);
}

.reviews__text {
  .regular-text();
}

.reviews__author-name {
  .bold-text(18px, 24px);
  font-style: normal;
}

.reviews__author-email {
  .regular-text(17px, 30px);
  font-style: normal;
}

.reviews__prev {
  width: 130px;
  height: 50px;
  font-size: 0;
  border: 1px solid @border-gray;
  background-color: @white;
  background-image: url(../img/icon-left-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__next {
  width: 130px;
  height: 50px;
  font-size: 0;
  border: 1px solid @border-gray;
  background-color: @white;
  background-image: url(../img/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__btn {
  width: 260px;
}
