.reviews__wrapper {
  .container();

  @media @desktop-width {
    box-sizing: border-box;
    padding-left: 175px;
  }
}

.reviews__title {
  font-size: 25px;
}

.reviews__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-email {
  font-size: 17px;
  font-style: normal;
}

.reviews__prev {
  width: 130px;
  height: 50px;
  font-size: 0;
  border: 1px solid @border-gray;
  background-color: @white;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__next {
  width: 130px;
  height: 50px;
  font-size: 0;
  border: 1px solid @border-gray;
  background-color: @white;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__btn {
  width: 260px;
}
