body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  background-color: @white;
  color: @black;
}

img {
  max-width: 100%;
  height: auto;
}

b {
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1 {
  margin: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: @black;
}

h2 {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: bold;
  color: @black;
}

a {
  color: @black;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
}

label {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
}
